[2014-03-31 04:01] nixoid opened #4 "add HolyTransaction.com to the list of wallets"
Please add HolyTransaction to the wallet list.

HolyTransaction it’s a hosted wallet designed for nontechnical users. Users can send and receive cryptocurrency from your mobile browser or over social networks. It's a online web wallet that offers a simple and instant exchange among top cryptocurrencies.
You can read about how it works in our FAQ.

With just an email, users can send and receive cry

[2014-05-12 18:45] leofidus opened #24 "Online wallets"
dogechain.info, dogeapi.com and moolah.io are listed as recommended online wallets, with the note "These online wallets are not owned or maintained by Dogecoin or the Dogecoin Foundation. While we are satisfied they are trustworthy, reliable services - please use at your own risk."

The key phrase here is "While we are satisfied they are trustworthy". dogechain.info details why its wallet is secur

[2014-05-17 18:47] langerhans commented on #24
The wording has been changed for now. Leaving this open for further improvements where needed.

[2014-10-06 08:03] dhpollack commented on #4
@PowerLemons you can close this issue since Holy Transactions has already been added.

[2014-10-15 04:45] dthakur opened #56 "Add Celery under 'Online Wallets' and 'Get Dogecoin'"
We're a hosted wallet and buying service.

[Celery](https://www.gocelery.com)
[Coindesk coverage](http://www.coindesk.com/celery-launches-consumer-friendly-bitcoin-dogecoin-buying-service/)
[Transparency and dogecoin holdings](https://www.gocelery.com/#transparency)

I previously opened a PR, but it was ignored for a very long time.

[2014-10-24 13:07] karottenbaum opened #61 "Replace MyDoge completely"
In the main page, Dogekeeper is linked for iOS, but the guides are still for MyDoge. Maybe someone could make a new guide?

[2014-11-15 21:51] cantbecool opened #67 "Getting started guide for contributing to the site?"
I pulled the git repository, but I'm having issues simply getting all the assets to display properly.

[2014-11-15 21:58] PowerLemons commented on #67
Are you using a web development platform like WAMP to display the webpage? Simply opening the HTML file isn't enough.

[2014-11-15 22:02] vmu9999 commented on #67
That's what I mean, power. How can I get started? There isn't any indication on the readme about needing WAMP.

[2014-11-15 22:11] PowerLemons commented on #67
Sorry, I thought you meant the Getting Started guide on the website. If you want to display the website locally and edit it, here's how to do it.

[Install WAMP](http://www.wampserver.com/en/). Once you finish installing it, put the website files in the /www directory of the WAMP directory. By default, the location of the WAMP directory is C:/wamp. Put "localhost" into the address of your browser

[2014-11-16 13:23] dhpollack commented on #67
@cantbecool if you want to go with a complete cloud solution, you can use c9.io.  I created a super quick picture tutorial.  Note that I directly cloned the dogecoin.com repo, but you'd probably want to clone the repo to your github account, connect your github account, and then connect that to c9.io.

http://imgur.com/a/4EJC2

[2014-12-02 05:08] vmu9999 commented on #67
thanks @dhpollack I'm going to look into that solution. I'm going to have some time around the holidays, so hopefully I can contribute.

[2014-12-23 13:03] R32 opened #69 "Can replace jQuery.js off Google references??"
Because in China, can't open Google

[2015-01-02 11:16] ghost commented on #67
@cantbecool If you use Windows, use <a href="www.apachefriends.org">XAMPP</a>.
I had many problems with WAMP.... ._.

[2015-01-02 12:34] greensn0w opened #70 "Enable the Wiki to host the "Getting started"-guides"
Please enable the Wiki to host the "Getting started"-guides.

I already created the guides for Linux and Windows: https://github.com/greensn0w/dogecoin.com/tree/webdev-getting-started

References #67

[2015-01-05 22:40] dhpollack commented on #70
agreed

[2015-01-20 22:22] orawalters commented on #69
Maybe a compromise? We could use Jquery off the official CDN (`code.jquery.org`) or write in a backup script like this:

[code]

[2015-01-21 01:07] PowerLemons commented on #70
Can you make a pull request? I'll merge it once you do. Thank you for your contribution to Dogecoin.com!

[2015-01-21 01:12] PowerLemons commented on #69
Changed the CDN for jQuery from Google to the Official CDN. Thank you for letting us know about this!

[2015-01-21 01:12] #69 closed

[2015-01-21 01:13] PowerLemons commented on #4
Closed as it has been added.

[2015-01-21 01:13] #4 closed

[2015-01-21 01:25] PowerLemons commented on #56
Celery has replaced Vault of Satoshi, since VoS has closed down. Thank you for bringing your site to our attention.

[2015-01-21 01:25] #56 closed

[2015-01-26 11:58] dhpollack commented on #70
@PowerLemons creating a wiki is not something that can be done with a pull request.  You need to enable it in the settings of the project.

https://help.github.com/articles/disabling-wikis/

It's like that, except exactly the opposite.

[2015-01-26 12:55] ghost commented on #70
@PowerLemons: https://help.github.com/articles/about-github-wikis/

[2015-04-29 20:54] ghost commented on #70
I close this issue, because the guides are already merged :grimacing:

[2015-04-29 20:54] #70 closed

[2015-04-29 20:56] greensn0w commented on #67
@PowerLemons @cantbecool This issue should be closed because the PR is merged

[2015-05-05 00:42] #67 closed

[2015-05-10 14:39] peoplma opened #90 "Olark support chat panel?"
Assuming we could get enough knowledgeable shibes willing to volunteer their time (I could be available most evenings in EST), do you guys think it'd be a good idea to have an Olark customer support plugin on dogecoin.com?  We could answer visitors' questions right away there, no need to go to IRC or reddit.  I'm confident that we have enough people who'd be willing to man the chat and answer ques

[2015-10-14 00:23] peoplma opened #94 "www.dogecoin.com subdomain doesn't work"
http://dogecoin.com works, but http://www.dogecoin.com doesn't work.  I am not sure who the DNS provider for dogecoin.com is or how their CNAME records work, but the CNAME record should be altered to point www.dogecoin.com to dogecoin.com.

Thanks to /u/beardog108 for pointing this out.

[2015-10-16 17:50] patricklodder commented on #94
This has been fixed, works for me now.

[2015-10-16 17:50] #94 closed

[2016-03-11 16:46] beardog108 opened #98 "Change Android Wallet "Get it On Google Play" image src"
The src "https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" in the image for the Android download window 404's, and therefore does not display.

I've had this issue with my apps, it seems Google changed the way the URL is structured.

You can create the URL [here](https://play.google.com/intl/en_us/badges/).

[2016-03-11 21:44] patricklodder commented on #98
thx for reporting. putting it on my todo

[2016-03-20 19:15] #98 closed

[2016-09-12 18:00] briannyeko opened #102 "KeepKey HD wallet Now supporting Dogecoin(Add it to the Official Website)?"
When will you add keepkey HD wallet to recomendations of HD Wallets(They Support Dogecoin wallets)?

[2017-05-16 01:30] PowerLemons opened #104 "Implement piwik (open-source analytics)"
https://piwik.org/

Like Google Analytics but open-source. If anyone wants to discuss whether to implement then let us know on Discord server: https://discord.gg/Pn7G9qx

[2017-05-16 01:32] PowerLemons opened #105 "Remove mentions of DogecoinFoundation"
The organization was shut down. Any discussions can be here and Discord server: https://discord.gg/Pn7G9qx

[2020-12-24 16:06] Fizzzo42 opened #113 "Embedded Youtube Video http -> blocked by Chrome"
Http content on a https page is blocked by Chrome and possibly other browsers (see https://www.howtogeek.com/443032/what-is-mixed-content-and-why-is-chrome-blocking-it/). When trying to load it, I get the following output in the console log:

Mixed Content: The page at 'https://dogecoin.com/' was loaded over HTTPS, but requested an insecure frame 'http://www.youtube.com/embed/_KVZmS_UO5I?enablejsa

[2021-02-01 13:13] alfreakaalbo opened #115 "LOST ALL MY COINS? NEED HELP"
Hi guys,
 I have a problem with dogecoin wallet (android version from the official website)
I back up  my wallet on 25/01 and then the 28/1I bought 230k coins but I forgot to back up the wallet with this transaction..
 Then the 31/1 I bought 24k coins and my wallet wasn't synching on the last transaction and I start to panic...so I uninstall the app and I reinstall it.. and I restore the 25/1 back

[2021-02-01 13:16] MarcoPNS commented on #115
First of all: Wrong place! Please close this.

You should check out https://github.com/langerhans/dogecoin-wallet-new

You need to wait till your wallet is in sync. otherwise the transaction will not be displayed. Currently there is a problem with the sync because there is a big amount of new users.

[2021-02-01 13:22] alfreakaalbo commented on #115
So even if i

[2021-02-01 13:22] #115 closed

[2021-02-01 13:22] alfreakaalbo commented on #115
Sorry man..
Thank you very  much..

[2021-02-02 22:28] bjzilberman opened #120 "Redesign Pointers/Suggestions"
Hello contributors, I have worked on a complete redesign of dogecoin.com and I want to get some of your attention to it.
the repo is here [https://github.com/bjzilberman/dogecoin.com](https://github.com/bjzilberman/dogecoin.com)

and it currently looks like this:

![Screenshot](https://i.imgur.com/LqE4Y0T.png)

I would LOVE to get some suggestions or pointers on what should be added to the page, a

[2021-02-14 09:36] cryptohakka opened #123 "About Localization"
Hi, I'm a Japanese translator of Bitcoin.org.
Does this project need Japanese translation?
I'll translate this project as a volunteer if needed.

[2021-02-15 20:25] guert commented on #120
Much design!!!

[2021-02-15 20:28] guert commented on #120
Already responsive! Very nice. Just a small thing: Needs more left/right padding here:
![image](https://user-images.githubusercontent.com/1292848/107990423-4f812b00-6f89-11eb-9aad-bcca88242403.png)

[2021-02-15 20:29] bjzilberman commented on #120
Still a work in progress, thanks for the input

[2021-02-15 20:38] guert commented on #120
Here are some nice contrasting colors that go with the current button & coin background: via colormind.io
![image](https://user-images.githubusercontent.com/1292848/107991062-ac311580-6f8a-11eb-923f-89cc7177cd31.png)

[2021-02-15 20:49] guert commented on #120
Updated logo?
![image](https://user-images.githubusercontent.com/1292848/107991826-3fb71600-6f8c-11eb-9929-8761aee261e1.png)

[2021-02-15 20:52] guert commented on #120
  | <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="360" height="371" viewBox="0 0 360 371">
-- | --
  | <image width="360" height="371" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAWgAAAFzCAYAAAAT9JONAAAgAElEQVR4nOy9Wawk+XXm98UeGbndvGvdtbauqq5eyCZbbLZIURxSgiV5bNgmDD8YMAbGQC+DMWDBgO2HGUOADGNsPRgwID8YGNiwx/BAHnM8lqUBhzIpkUO21M3eu2tfb919y32J3Tgn4

[2021-02-18 07:08] freelancing-solutions opened #126 "> Why cant we just rewrite the entire site using react.js"
I was thinking the same thing. Let's collaborate.

_Originally posted by @arpitparmar5739 in https://github.com/dogecoin/dogecoin.com/pull/111#issuecomment-781102412_

[2021-02-18 07:16] arpitparmar5739 commented on #126
I know some more people who are interested in taking this responsibility. Just wanna know If this effort is worth it. @patricklodder, @rnicoll, and the team, what are your views?

[2021-02-18 07:23] freelancing-solutions commented on #126
if we have to go this route we can easily get there by constantly making smaller changes until its done...
example
1.  First make sure the landing page works as a Single Page App.
2.  Integrate React through a Bundler
3. Refactor certain parts of the site into components
4. Use a Back-end framework such as NodeJS + Express , NextJS , Flask, or Fast-API  depending on what the majority of the people

[2021-02-18 07:24] guert commented on #126
@Bjzilberman

[2021-02-18 08:26] #24 closed

[2021-02-18 08:26] #61 closed

[2021-02-18 08:28] #104 closed

[2021-02-18 08:29] #105 closed

[2021-02-18 08:29] langerhans commented on #113
This has been fixed in the meantime, thanks!

[2021-02-18 08:29] #113 closed

[2021-02-18 14:34] freelancing-solutions commented on #126
can you tell me how you think we should start we can create a branch with our initial idea however still incorporating what is there already....and for now maybe even keeping the theme intact, and see if others approve or not ?

[2021-02-18 14:59] rnicoll commented on #126
I know there's a couple of web devs already looking at a replacement, not sure who they are on GitHub to put you in contact though. Let me see if I can direct them here

[2021-02-19 10:31] arpitparmar5739 commented on #126
Hey man, waiting for @rnicoll to connect us to the people already working on similar task.

[2021-02-19 16:57] leodavinci1 commented on #126
I would love to work with React for this project :D.

[2021-02-19 19:01] langerhans commented on #126
Can someone educate me about the benefits of this stuff for a strictly informational website? I personally don't see the need for anything that doesn't run on GitHub Pages like the current site. Very little hassle for a very good result. Personally things like a forum are a hard no from my side. We had that and it was barely used until it was overrun by spam bots and taken down. For the other stuf

[2021-02-19 19:12] arpitparmar5739 commented on #126
Please take a look at the websites of bitcoin and ethereum. The answer imo is very obvious.

PS: Please follow the links below for the websites,

https://bitcoin.org/en/
https://ethereum.org/en/eth/

[2021-02-19 19:34] langerhans commented on #126
Both of these websites do not have any of the dynamic features proposed here. I don't see how that would answer my question. The choice of framework should be separate to the choice of content. What exactly is the scope of this issue? Is it just a brainstorming of the framework to use for a possible rewrite, or is it brainstorming things to put on the website? I think once this is established we c

[2021-02-19 19:45] arpitparmar5739 commented on #126
I agree with you that we should first decide the scope of the issue.

For me, the issue was created keeping the future of the website in mind. Website currently is just a single html page. We can plan something for the future of the website and at the same time brainstorm on what should we further add to the website to make it on par with the websites of other cryptos out there. Currently it's a w

[2021-02-19 20:07] langerhans commented on #126
I'm all for adding more good content to the website, don't get me wrong. But the choice of tech stack has little no influence on the scope of the website. So I ask everyone to keep that in mind when coming up with proposals for a complete rewrite :)

[2021-02-25 08:17] arpitparmar5739 commented on #126
The point is when you add that content the website grows larger. Using React for that would be a better choice is what I think and I assume @freelancing-solutions and @leodavinci1 had that same thing in his mind.

Please let us know what do you think. @langerhans

[2021-02-25 18:22] langerhans commented on #126
Look I'm not hating on react or any other framework. I'm looking at this from a cost vs. value perspective. Given the requirements we have for a website the investment to reach the same goal with a framework that wasn't even built for static pages seems too large compared to the benefits it brings. And this isn't just an up front investment. It's also a matter of maintaining the page for years to

[2021-02-25 18:53] arpitparmar5739 commented on #126
Okay @langerhans.

[2021-02-26 11:45] freelancing-solutions commented on #126
You can host a react site on any production server which you can host a static page for no additional costs

[2021-02-26 11:47] freelancing-solutions commented on #126
The very cost needed to keep the present site up is exactly what is needed to keep a react site up, react sites are still single page web appications....

[2021-02-26 12:08] langerhans commented on #126
I suggest reading this: https://en.wikipedia.org/wiki/Software_maintenance You will understand that "investment" is not a solely monetary driven term.

[2021-02-26 13:36] freelancing-solutions commented on #126
Isnt that whats github and open source is suppose to be ...i mean no one is saying do it ...but just that people will most definetely do it ...

[2021-02-26 14:15] arpitparmar5739 commented on #126
@freelancing-solutions frankly bro that does not make sense to me. But @langerhans I still think that we should port the webpage. The reason being the webpage is so damn small right now that it does not matter which tech stack has been used to create it. It will remain maintainable (Also I know at least 5-6 people interested in porting right now). Now for me when doge goes to the moon I am specula

[2021-02-26 18:59] patricklodder commented on #126
Hey everyone! My suggestion for today is you listen to this guy, he's famous: https://www.youtube.com/watch?v=WWVMXLSS1cA

And then I suggest we all stop discussing that my framework is bigger/better than yours because that really doesn't help anyone.

Thank you, have a great day!

[2021-02-26 18:59] #126 closed

[2021-03-19 22:03] mridul289 commented on #120
@patricklodder please consider this, it will be a huge update since the last one..

[2021-03-19 22:06] patricklodder commented on #120
Who made the image, what resolutions do we have it at, do we have an SVG version? what license is this contributed under?

[2021-03-20 00:23] bobbobobbo commented on #120
Whoa whoa, "reach for the skies and people will follow you?" Great looking art but we can't just update our core site image-slogan because a few people vote yay. That's not our motto or our original coin...

The current coin shown is solid, otherwise this is the other main variant: https://i.imgur.com/A8qoANi.png

Update the site, surely, yet please don't change something that's been with us for a

[2021-03-20 00:25] tuckbick commented on #120
@bjzilberman thanks for stepping up!
* Could you integrate the ["chatty shibe"](http://christinemix.com/work/dogecoin/) version of the logo somehow? I just think it's cool
* A list of exchanges where Dogecoin can be purchased. I notice there isn't anything listed right now. The app doesn't offer an exchange either.
* A chart showing the current price compared to various other fiat or crypto.
* Upd

[2021-03-20 01:39] edswf1 opened #131 "new responsive site"
i made a copy of the current site and ported it to a full responsive site:
[https://edswf1.github.io/dogecoin.com/](https://edswf1.github.io/dogecoin.com/)

i will add modals and tutorial tomorrow.
other todos are:
- resize images
- new mockup for dogecoin wallet
- seo
- and maybe some new text content?

[2021-03-21 12:00] nickatnight commented on #120
Is there a discord? Or someone managing site deployments?

[2021-03-21 12:07] patricklodder commented on #120
The site is auto-deployed by GitHub - log is public too: https://github.com/dogecoin/dogecoin.com/deployments/activity_log?environment=github-pages

Just create a pull request.

[2021-03-21 15:42] edswf1 commented on #131
just updated the site:
- showing dogecoin price now
- added some effects
- redesigned download of wallets

TODOs:
- tutorial
- social links
- i18n integration
- seo
- resize images / new Mockups
- content of get started section (should exchanges be listed there?)

[2021-03-21 18:49] davidbrouillette commented on #120
[Related Issue 131](https://github.com/dogecoin/dogecoin.com/issues/131)

Could we consolidate the refactor effort?

[2021-03-21 18:50] davidbrouillette commented on #131
[Related issue 120 ](https://github.com/dogecoin/dogecoin.com/issues/120)

Could we consolidate the refactor effort?

[2021-03-21 19:15] guert commented on #131
Beautiful

Sent from Yahoo Mail for iPhone

On Sunday, March 21, 2021, 11:50 AM, David Brouillette ***@***.***> wrote:

Related issue 120

Could we consolidate the refactor effort?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-03-21 22:20] edswf1 commented on #131
created a pull request after making the site fully functional.
tutorial is also live now: https://edswf1.github.io/dogecoin.com/

[2021-03-22 08:10] nickatnight opened #133 "[Feat] Add support for Docker development"
There is no guide for developing on Mac, let alone Docker. Adding support for this will allow developers from most platforms to work in a consistent environment

[2021-03-24 02:57] nickatnight commented on #120
@davidbrouillette Im not sure if OP is still actively developing on this ticket. In the meantime, check out @tuckbick response. Maybe implement in your design?

[2021-03-24 08:43] nickatnight commented on #123
That would be nice 🥇

[2021-03-25 10:58] #133 closed

[2021-03-30 15:07] #131 closed

[2021-03-31 10:34] patricklodder opened #137 "[Feature request] Dogecoin Core guides"
Currently, there are only Multidoge guides. Multidoge is old and unmaintained and therefore, the only fully auditable wallet on Desktop right now is Dogecoin Core. Thus, we need to add guides for Dogecoin Core.

Does anyone have a set-up guide with screenshots, or would someone care to create one?

[2021-03-31 10:45] patricklodder opened #138 "[Feature request] Contribution page"
The following suggestion [was posted on r/dogecoindev](https://www.reddit.com/r/dogecoindev/comments/mgn9h2/support_dogecoin_function_on_new_site/):

I'd be enlightened to see at least the following items reflected for starters:

1. Doing good / spread the word
2. Running a full node
3. Maintaining this website's content and translations - with a link to this repo
4. Supporting and educating peopl

[2021-03-31 10:54] edswf1 commented on #138
would love that. As i'm not best content creator i would need help with content, but i could make the page, integrate it in menus and stuff like that

[2021-03-31 20:27] tuckbick opened #139 "Adblocker is blocking wallet download links"
### Describe the issue

When I click any of the [download links](https://dogecoin.com/#wallets), my ad blocker ([uBlock Origin](https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm)) blocks the request and a download prompt never appears. I assume this may occur with other ad blockers as well. Can anyone else reproduce this?

### Can you reliably reproduce the i

[2021-03-31 20:31] patricklodder commented on #139
Was found yesterday by our fabulous @langerhans and https://github.com/uBlockOrigin/uAssets/commit/10370b591f491b8429b6e406ca23bd53a841a8c2 should fix that.

[2021-03-31 21:04] tuckbick commented on #139
Nice work! I updated my filter list and it works now.

[2021-03-31 21:04] #139 closed

[2021-03-31 23:46] zaridan commented on #138
I'm happy to help create the content if you'd like to create the page(s) @edswf1.

I can create a first draft for review and iterate from there...

[2021-03-31 23:48] zaridan commented on #137
@patricklodder - I've seen a couple of guides on r/dogecoin and r/dogecoindev - I'm happy to utilize the contents with permission of the authors and add some screenshots and move here.

Think that an okay route, or do we prefer to create fresh content?

[2021-03-31 23:49] patricklodder commented on #137
I think this is a great idea... any content is fine to start with, we can polish it from the PR.

[2021-04-01 02:00] zaridan commented on #137
This tutorial is super thorough https://www.reddit.com/r/dogecoindev/comments/m8c54e/running_a_dogecoin_full_node/

I reached out to the OP to see if we can use it, or parts of it. No need to reinvent the wheel ... but we'll probably want to do a TDLR version for Windows/Mac/Linux followed with the more fully detailed details :)

[2021-04-01 02:06] DirtMcGirt27 commented on #137
For the "Get Some Dogecoin" portion of the site feel free to use this content:

The current guide is rather in depth and has a lot of good information however, guiding new Shibes to CPU/GPU mine Scrypt does not seem the wisest decision imo

[2021-04-01 18:06] nickatnight opened #141 "Add section for relevant dogecoin core stats"
Just recently came across this on [Sia](https://sia.tech/) coin site and think it would be a good a good idea to incorporate in doge. Gives full transparency on the development efforts

<img width="1397" alt="Screen Shot 2021-04-01 at 11 02 35 AM" src="https://user-images.githubusercontent.com/8783431/113335750-3b478200-92da-11eb-9b7e-0e4aa26e1024.png">

[2021-04-01 20:19] edswf1 commented on #141
i'll take a look at the github api

[2021-04-01 20:41] nickatnight commented on #141
@edswf1 there should be a JS wrapper for their api that supports this right out the box...[here](https://github.com/octokit/rest.js/)

Unless @patricklodder prefers an in house solution to decrease the amount of libs we are loading

[2021-04-01 21:40] edswf1 commented on #141
i don't think a library is needed, this simple function should do it:
[code]

in Detail:
when per_page parameter is set, GH API returns a 'link' response header with next and last page. As we request only one item per page, the number of the last page is also the number of total elements available by GH API.

This is apparently not what GH uses to display numbers in the repository as there are 201

[2021-04-01 22:24] edswf1 commented on #138
made a quick and dirty draft for a potential support dogecoin site.

preview: https://edswf1.github.io/dogecoin.com-1/support-dogecoin.html
repository: https://github.com/edswf1/dogecoin.com-1

please feel free to contribute

Edit: #141 would be an ideal widget for the hero section

[2021-04-01 22:39] edswf1 commented on #137
would be glad to help to integrate that when images and texts are available

[2021-04-01 23:11] nickatnight commented on #141
@edswf1 wow this is real elegant. Great job!

[Local Storage](https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage) my guy

[2021-04-01 23:14] edswf1 commented on #141
true. i was just trying to say that the function is by no means complete yet

[2021-04-01 23:25] nickatnight commented on #141
Hmm actually I'm not sure that would work because traffic to the site definitely has potential for more than 60 users per hour. Maybe create some routine to write those metrics your functions pull into a readable assets file? Then read those values and display.

Then, I think we can use local storage to prevent reading from file on every page load.

We could actually take this a step further and c

[2021-04-01 23:31] edswf1 commented on #141
As i understood, this limit is per client IP. I think putting current values as a fallback would cover most errors then

[2021-04-01 23:49] nickatnight commented on #141
Oh ok per client ip..yeah that should be fine

[2021-04-02 02:14] zaridan commented on #137
@edswf1 - getting the old MAMP dusted off and will get something over when able.

[2021-04-02 03:39] zaridan opened #143 "Crate a Project for the Support Dogecoin resource"
I have questions that I'd like to seek input on, and would love to have an opportunity to outline needs, tasks, etc, for getting this part of the site done.

Can we create a Project for this?

[2021-04-02 18:52] patricklodder commented on #143
Of course! What do you have in mind? Would you like to work from question to answer or from subject to implementation?

[2021-04-02 21:18] zaridan commented on #143
Probably from subject to implementation... but I've not set up nor used GitHub projects much, so that's a guesstimate based on assumptions :)

[2021-04-02 21:19] zaridan commented on #143
... and to broaden the project, maybe we could make it for the whole of the Ðogecoin.com site rather than only for the Resources section?

[2021-04-03 01:03] patricklodder commented on #143
Let's start with a well defined target, see if this works, then we can run other, bigger projects that build upon success... saves scope creep and overcommitment.

So the project is up at https://github.com/dogecoin/dogecoin.com/projects/1 and we can start adding issues and pull requests to that.

[2021-04-03 02:48] zaridan commented on #143
Sounds good, thanks @patricklodder !

[2021-04-07 03:15] JschlattOG opened #146 "My thoughts on Dogecoin"
### Feature Description
It's good I love doge coins And I could get some Doge Coins for free I like doge and his coins

[2021-04-07 03:16] JschlattOG commented on #146
Posted in the wrong place

[2021-04-07 09:05] #146 closed

[2021-04-11 04:30] kserrec commented on #138
I wasn't sure if zaridan was still working on this issue and I found it interesting so I took it up myself. I have submitted a pr. I'm brand new to contributing to open source so I hope I have done everything correctly and was not too hasty in simply picking something up without asking first. Please let me know if there is anything I can do or should have done differently.

[2021-04-11 11:06] patricklodder commented on #138
Thank you for this contribution! All perfectly fine!

You PR'd "early", which is good practice in this case because it opens up development and getting help from other contributors so that as little as possible duplicate work is done 👍

I don't think it's ready for publication yet as-is - mostly because of missing translations - but I think the best way forward is to stage this on a separate branc

[2021-04-12 22:24] nickatnight opened #152 "Dynamically generate copyright year"
<img width="395" alt="Screen Shot 2021-04-12 at 3 20 47 PM" src="https://user-images.githubusercontent.com/8783431/114470065-16d58a80-9ba3-11eb-8eca-766d91cd7d9d.png">

### Feature Description
The copyright year is currently a static value. To avoid updating `index.html` essentially every year, I propose this value be dynamically generated

### Alternatives
See above

[2021-04-12 22:29] patricklodder commented on #152
Hmm I'm not sure if that is okay? That would mean that even if we would leave it for 50 years it would be renewing it's "copyright" automatically? Could use some legal shibe opinion on this.

[2021-04-12 22:35] nickatnight commented on #152
@patricklodder ahh ok fair enough

[2021-04-15 21:38] zaridan commented on #137
Sorry guys I was on a little vacation and been playing catch up.

Revisiting this - I'm curious if there's any chance we might ever consider using something like WordPress for our site? :)  I know that's probably very counter to what developers prefer, but I'm afraid my skills and patience with working in text files is pretty null these days. It takes me way more time than it would to, say, update

[2021-04-17 21:34] zaridan commented on #137
Can anyone point me to a guide to get set up to visually work and commit code? I.e., edit a rendered html page and then commit? I'm on OSX.
It's been so many years since I did this kinda stuff I'm sure there are different ways these days.
Thanks for any guidance.

[2021-04-21 00:39] tjjosep opened #158 "iOS wallet app."
Is it possible to provide a reliable iOS based wallet app along with the android wallet app?

[2021-04-22 00:13] magneticat commented on #141
Am I wrong in assuming that due to the way Dogecoin Core is being developed such a graphic would not reflect the real amount of work being done on Doge? Patrick or Sporklin mentioned on r/dogecoindev (cannot find the thread now, thanks to reddit's beautiful search) that the github repo shows little activity because they develop the major releases in a repository not linked directly to github.

Cor

[2021-04-22 00:19] magneticat opened #159 "Dogecoin Development Section"
I would like to gather Dogecoin Core developers opinion on this idea posted by a member on r/dogecoindev:

https://www.reddit.com/r/dogecoindev/comments/mvssbr/communications_to_the_press_and_new_users_about/

Would it make sense to start a project to create a page explaining the history of Dogecoin development, where it's header, and how people can help and/or join? A simple page, but which can b

[2021-04-22 01:09] magneticat opened #160 "Italian Translation"
I have started working on an Italian translation. It should be done soon. Is it OK? Can we add it to the website?

I think an Italian version would make Dogecoin a bit more appealing to a lot of people that might have difficulties with English.

[2021-04-22 10:31] rnicoll commented on #159
I've started an FAQ page which could be expanded into this. Secretly I haven't done HTML in years, so it might need some structural editing, but I'd love reviews: https://github.com/dogecoin/dogecoin.com/pull/147

[2021-04-22 10:59] edswf1 commented on #137
if you would only like to try some stuff locally, just create a html file on your mac and open it in your favorite browser.

Once you edited your file, make sure cache is cleared (there is an option for that in e.g. chrome Devtools) and reload the page

[2021-04-22 14:15] magneticat commented on #159
Lovely! I am a web developer by trade, i will review it. I am also writing an Italian translation for the main site, I could then move to the FAQ.

[2021-04-25 12:57] cryptohakka commented on #160
I made issue #123 about Japanese translation but the time may not be ripe for localization as follows.
https://www.reddit.com/r/dogeducation/comments/ljg89s/about_localization/

[2021-04-25 13:50] magneticat commented on #160
Hey cryptohakka, was not that post on reddit made before the release of the current version of the website?

I think the main thing, as we add languages, would be to change the bottom language selector in a dropdown.

[2021-04-28 19:23] magneticat opened #163 "Dropdown Selector for Languages"
### Feature Description
Dropdown to select the language at the bottom of the page instead of the current HTML list. This would let us add multiple languages without crowding the footer.

### Use Case(s)
This would be extremely useful as more and more language translations start coming in. While I see that Bitcoin.org for example offers only a few languages, I think it is important for a currency o

[2021-04-29 12:59] patricklodder commented on #138
UPDATE: With the merge of #148 we now have a working page to improve upon.

[2021-05-02 14:36] waddafunk commented on #160
Ciao @magneticat, let me know if i can help you and how with that italian translation.

[2021-05-02 15:25] freelancing-solutions commented on #152
well generating copyright year dynamically is currently the Defacto standard in web development

[2021-05-02 17:47] freelancing-solutions commented on #152
Proposed Solution see pull request
[Dynamic Copyright Year](https://github.com/dogecoin/dogecoin.com/pull/165#issue-628648756)

[2021-05-02 17:58] freelancing-solutions opened #166 "code of conduct"
### Feature Description
There is a need to add a code of conduct readme on this repo

### Additional Context
There is already a great code of conduct which may be suitable for shiba inus
i will send a pull request if necesarry with a template of the code which would also
be open to modifictations

[2021-05-02 19:31] freelancing-solutions opened #167 "Provide a sitemap for search engines"
i can only refer everyone to this article
[Why we need robots.txt](https://developers.google.com/search/docs/advanced/robots/intro#:~:text=txt%20file%3F-,A%20robots.,web%20page%20out%20of%20Google.)

[2021-05-02 19:32] freelancing-solutions commented on #167
![Capture](https://user-images.githubusercontent.com/9344514/116825084-e83d4500-ab8d-11eb-9982-b33bcd01cd14.PNG)

[2021-05-02 23:39] magneticat commented on #160
Ciao @waddafunk! I am adding a pull request soon, so you can review and do any changes you want to it!

[2021-05-03 00:22] magneticat commented on #163
I added the Language dropdown simply by using the existing Bootstrap dropdown implementation, so my edits do not require additional Javascript and thus should be easy to maintain. Please review and let me know. I believe @hoxhaj UI changes can be discussed in a different issue?

[2021-05-04 01:18] #163 closed

[2021-05-04 02:41] magneticat commented on #160
This should be complete, but I welcome revisions @waddafunk! I recommend you check the translation by browsing the actual webpage, as I figured out too late that a lot of text in the translations is not actually used in the websites anymore (opening a separate issue about this soon). Many phrases are not literal translation as they would have sounded horrible in Italian.

I fixed a couple more iss

[2021-05-04 23:04] nitesh2382 opened #172 "Reduce the # of dogecoin production every year."
### Feature Description
I think we need to control the production of Dogecoin every year.

### Use Case(s)
It can be valued more and useful for businesses. Businesses are accepting it more frequently now.

### Alternatives
A clear and concise description of any alternative solutions or features you've considered.

### Additional Context
1. Sports are accepting it.
2. online retailers are accepting

[2021-05-05 00:20] comradekingu commented on #166
A need how exactly?

[2021-05-05 03:47] magneticat commented on #160
I did another re-read today and it seems fine so far. @waddafunk, if you have any input let us know so we can merge this and close the issue.

[2021-05-05 05:08] godwun commented on #159
I need where I can buy Dogecoin. I can be reached at nwofocenter@gmail.com

[2021-05-05 12:32] waddafunk commented on #160
Sorry, been busy with my studies these days. I can review this tomorrow, if its not too late, otherwise feel free to proceed.

[2021-05-06 14:53] waddafunk commented on #160
Ok so i reviewed your work and fixed some typos, cleaned some "eufonica" errors (for example i put "a una" instead of "ad una") and changed some phrases. [Made a branch with my corrections](https://github.com/waddafunk/dogecoin.com/tree/it-fixes) from your pull request. Check it out and let me know what you think, [this](https://github.com/waddafunk/dogecoin.com/commit/e635305085573458846db648321c

[2021-05-06 15:41] magneticat commented on #160
@waddafunk looks perfect to me! Thanks for getting those typos and for making it sound more modern by removing the eufonica. I believe you can add it as a pull request to this issue and @patricklodder can then approve it. Great job,

Looks perfect to me now.

[2021-05-06 16:57] waddafunk commented on #160
Thanks to you @magneticat for all the work you put in this! I created the pull request and linked it, cheers.

[2021-05-06 17:14] magneticat commented on #160
Thanks to you ;) Yep, it took longer than it should have as half of the translation phrases are actually currently unused! But we will discuss that in future enhancements.

@patricklodder this looks great to me - many italians might need it ;)

[2021-05-06 21:51] #160 closed

[2021-05-07 17:40] magneticat commented on #159
Guys I am looking at it. Sorry for being slow.

[2021-05-07 18:24] nickatnight commented on #172
I don't think this is relevant for dogecoin.com

Try [here](https://github.com/dogecoin/dogecoin) pal

[2021-05-07 18:31] nickatnight commented on #141
@magneticat I'm not actually sure about that! But where ever the repo lays, I'm sure we can pull stats from it. @patricklodder savvy?

[2021-05-07 19:42] rnicoll commented on #172
Not part of the website and we've answered this endlessly before.

[2021-05-07 19:42] #172 closed

[2021-05-07 21:40] freelancing-solutions commented on #166
i hope you do understand what a code of conduct is on an open source repo

[2021-05-09 14:23] AkhileshThite opened #179 "Enhancement: Add Doge Meme page"
### Feature Description
Doge is known for memes. It would be so much fun for website visitors to see some of the best Doge memes on this website.

### Use Case(s)
Any relevant use-cases that you see.

### Alternatives
A clear and concise description of any alternative solutions or features you've considered.

### Additional Context
Add any other context or screenshots about the feature request her

[2021-05-09 22:04] davidsonfellipe commented on #166
PR submitted: https://github.com/dogecoin/dogecoin.com/pull/182

[2021-05-09 23:26] Salle11 commented on #138
Would love to contribute and help this community grow and evolve, I’ll gladly translate the website to Swedish if possible!

[2021-05-10 15:41] vj-codes opened #186 "Add hindi language (code: hi ) translation"
### Feature Description
Add translation for the Hindi language as Hindi is the most spoken language in India and
it is also the official language of the country along with English.

### Alternatives
No alternative

[2021-05-10 15:42] vj-codes commented on #186
@langerhans @michilumin @patricklodder @rnicoll I would like to work on this once approved

[2021-05-10 15:46] vj-codes opened #187 "Add marathi language (code: mr) translation"
### Feature Description
Add translation for the Hindi language as Hindi is the most spoken language in India and
it is also the official language of the country along with English.

### Alternatives
No alternative

[2021-05-10 15:47] vj-codes commented on #187
@langerhans @michilumin @patricklodder @rnicoll I would like to work on this once approved

[2021-05-10 17:00] langerhans commented on #186
Someone added Hindi in #185 , it would be good if you could review the changes :)

[2021-05-10 17:00] langerhans commented on #187
Feel free to submit a pull request. Contributions like this are certainly welcome.

[2021-05-10 17:02] langerhans commented on #179
I'm a bit concerned about copyrights. We'd technically need to get permission by the creators of said memes, no?

[2021-05-10 17:04] langerhans commented on #158
Possible yes, and some iOS wallet apps exist. But none of the core devs are iOS devs as far as I'm aware so we'd have to defer to third party wallets for now. I'm going to close this issue as it's technically not related to the website. Maybe this is a good topic for /r/dogecoindev?

[2021-05-10 18:29] akhileshthite commented on #186
Yes @vj-codes, I've added screenshots in my PR #185 so you can review and suggest me any changes and corrections.
Thanks you :)

[2021-05-10 18:30] akhileshthite commented on #179
Okay sir, I can understand.

[2021-05-11 01:02] bOsowski opened #190 "Create a Polish Translation"
### Feature Description
Polish translation of assets/i18n/en.json

[2021-05-11 01:05] bOsowski commented on #190
I have started with a Polish translation here:
https://github.com/bOsowski/dogecoin.com/blob/pl_translation/assets/i18n/pl.json

[2021-05-11 09:02] Parasolio opened #191 "Word "find" written twice"
### Describe the issue

There is word "find" written twice in the english main page. Not sure if this is intentional or not.

_"You can join team dogefolders, bring in your computing power, help to **find find** cures for diseases and receive some Doges for your efforts."_

### Can you reliably reproduce the issue?
yes

[2021-05-11 12:19] vj-codes commented on #191
@Parasolio hey I found it too while translating and fixed it [here](https://github.com/dogecoin/dogecoin.com/pull/189/files#diff-e78dcb6d04b10991ca2424b63f71ca29953d6ba8803fa772bb8cc03ad593320f) yesterday
Just letting you know so there aren't multiple fixes for the same :)

[2021-05-11 12:52] #191 closed

[2021-05-11 20:29] langerhans commented on #186
Closing now that #185 is merged. Thanks!

[2021-05-11 20:29] #186 closed

[2021-05-11 22:54] jeremiahisaacson commented on #167
This would be a great addition. Is this something you're willing to put together? If not, I will.

[2021-05-11 23:01] incognitojam opened #197 ""Android Wallet" heading malformed"
### Describe the issue
The "Android Wallet" text gets replaced by "dgc-android-wallet" after a few seconds.

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. Visit dogecoin.com

No actions required.

### Expected behaviour
It should say "Android Wallet".

### Actual behaviour
It says "Android Wallet" until (I suspect) i18n JavaScript loads and it g

[2021-05-12 05:00] cluzier commented on #167
If this has not already been started, i will give it a go @jeremiahisaacson @freelancing-solutions

[2021-05-12 06:33] freelancing-solutions commented on #167
give it a go

On Wed, May 12, 2021 at 7:00 AM Conner Luzier ***@***.***>
wrote:

--

*Thank you*

*Justice Ndouhttps://justice-ndou.site <https://justice-ndou.site>*

[2021-05-12 10:44] AkhileshThite opened #200 "There is no LICENSE on this repository"

[2021-05-12 13:08] NeilShah2026 commented on #200
@AkhileshThite Websites (most website anyways) do not need a License. Something like Dogecoin on the other hand does.

[2021-05-12 18:05] langerhans commented on #167
Help me understand the need please.

I mean that's exactly what we want right? We don't want to limit web crawlers so our site shows up in search results. Since no file is there, web crawlers just crawl the whole site. Or am I misunderstanding?

[2021-05-12 18:08] langerhans commented on #197
Fixed in #199 , thanks!

[2021-05-12 18:08] #197 closed

[2021-05-12 18:09] freelancing-solutions commented on #167
yes you are , the same file is used to point to relevant pages so the site
gets indexed properly for the subject its actually addressing rather
than for subjects it isnt addressing...
robots.txt and seo goes hand in hand, and a site without this file probably
wont rank in google search .
last i check this site doesnt rank anywhere in search ever wonder why

On Wed, May 12, 2021 at 8:05 PM Max K. *

[2021-05-12 18:15] langerhans commented on #167
You are mistaking robots.txt with a sitemap then. I have the Google Search console page open right now and the report shows all pages are indexed and no invalid pages are found.

[2021-05-12 18:17] langerhans commented on #200
Not a lawyer so not actually sure how this would work. Especially re-licensing existing code comes with some problems depending on the license that's picked. Would love for others to chime in who have more experience than I do.

[2021-05-12 18:20] freelancing-solutions commented on #167
yeah the entry point to a sitemap is robots.txt

On Wed, May 12, 2021 at 8:16 PM Max K. ***@***.***> wrote:

--

*Thank you*

*Justice Ndouhttps://justice-ndou.site <https://justice-ndou.site>*

[2021-05-12 18:21] langerhans commented on #167
Okay then maybe we should rename the issue and focus on the sitemap part :)

[2021-05-12 18:24] freelancing-solutions commented on #167
no you are mistaken i actually do SEO optimization
beside coding and website development
you cant have a sitemap without robots.txt it will just be a bunch of links
in a file and useless

On Wed, May 12, 2021 at 8:21 PM Max K. ***@***.***> wrote:

--

*Thank you*

*Justice Ndouhttps://justice-ndou.site <https://justice-ndou.site>*

[2021-05-12 18:27] freelancing-solutions commented on #167
how would you tell google crawler which file is your sitemap file in your
website without
robots.txt ...
robots.txt allows you to script how the crawler accesses your site..it does
that by pointing to a sitemap file
and also by indicating which part of the site to index,,,
just naming the file sitemap.xml does nothing and its useless

On Wed, May 12, 2021 at 8:21 PM Max K. ***@***.***> wrote:

--

[2021-05-12 18:30] langerhans commented on #167
Calm down, I just want to keep issues here focused. And technically you can have a sitemap without robots.txt by just telling Google where it is:
![image](https://user-images.githubusercontent.com/5160000/118026155-cd728980-b360-11eb-9624-f734c7855764.png)

So can we get back to actually solving the problem instead of having this pointless argument?

[2021-05-12 18:34] freelancing-solutions commented on #167
you are failing to see that robots.txt cannot be separated from a sitemap.xml
and requesting a crawler manually still wont solve the problem of not having robots.txt
it seems to me you cant figure out why its needed...
let me tell it to you like this , the crawler needs to know how to access your site.
and still needs to know this even if you submit your sitemap file...
robots.txt and map file ,,,

[2021-05-12 18:35] NeilShah2026 commented on #200
@langerhans
You do not need a lawyer to get an MIT License. An MIT license, for open-source projects like Dogecoin, would give users the ability to reuse the code for any purpose.

I found this that sums it up better than I can do:
An MIT license gives users express permission to reuse code for any purpose, sometimes even if code is part of proprietary software.

[2021-05-12 18:36] langerhans commented on #167
Just drop it already. I understand we need a robots.txt to have a sitemap properly. Which I said already.

[2021-05-12 18:36] freelancing-solutions commented on #167
so if the crawler gets a 404 it takes as an indication that your site is not working properly and will not therefore access your site normally...

[2021-05-12 18:54] langerhans commented on #200
Yeah I understand the MIT license. The problem is that usually when you re/license existing code you'd need to ask existing contributors for their permission. And I'm not sure if that applies to our case and/or the MIT license.

[2021-05-12 18:57] langerhans commented on #167
Added a basic sitemap in #204 . Let me know if that looks okay to you

[2021-05-12 19:15] freelancing-solutions commented on #167
i didn't start this because i wanted to be the judge on what is appropriate
for a sitemap or robots.txt
i was just stating the obvious that robots.txt is needed...now a
sitemap.xml file in a website without robots.txt does not
constitute a sitemap as a sitemap is not made one because you named it
sitemap its made one because you point to it from robots.txt
file you could name it whatever you want

[2021-05-12 19:19] freelancing-solutions commented on #167
you cant get this wrong ...as long as you do it...lols

[2021-05-12 19:26] freelancing-solutions commented on #167
just try limiting access to resource files as they contain javascript files which most certainly you dont want crawlers to crawl as the site does not offer javascript advice or content ..just a hint

[2021-05-12 19:39] langerhans commented on #167
![image](https://user-images.githubusercontent.com/5160000/118034688-90ab9000-b36a-11eb-9af3-f2c970d5db79.png)

Closing as addressed by #204

[2021-05-12 19:39] #167 closed

[2021-05-12 22:09] NeilShah2026 commented on #200
@langerhans No, not for this website

[2021-05-12 22:12] NeilShah2026 commented on #200
(if it was applicable) you would just have a contributors guide: #196

[2021-05-13 01:16] bobdos opened #205 "How can I debug my translation file - zh-cn.json?"
I put a zh-cn.json under the folder i18n, then open the HTTP server to debug my translation, but no Chinese option on the dropdown list of Language.

How can I config to see a Chinese option on the dropdown list?

![image](https://user-images.githubusercontent.com/195643/118063492-8c1fbf80-b3dc-11eb-86c2-4584d8927a63.png)

[2021-05-13 09:01] vj-codes commented on #205
@bobdos hey your Chinese translated file should end `.json` and it will work

[2021-05-13 19:29] xbeatzsec opened #208 "Create a Portuguese Translation"
### Started to translate to Portuguese
Editing the file for translate the page to Portuguese, this is the file -> https://github.com/xbeatzsec/dogecoin.com/blob/gh-pages/assets/i18n/pt.json

Best regards!

[2021-05-13 21:03] hao6yu commented on #205
@bobdos add the new option to the language dropdown list in index.html and guide.html
also need to update the js function in scripts.js to capture your new option as well

DM me if you need a hand

[2021-05-14 00:13] bobdos commented on #205
thanks I will have a try

[2021-05-14 01:30] bobdos commented on #205
all good, in progress right now. :)

![image](https://user-images.githubusercontent.com/195643/118207343-d15cf380-b4a7-11eb-899d-2938fe841a99.png)

[2021-05-14 01:30] #205 closed

[2021-05-14 02:36] Landtd2015 opened #209 "A way to keep mining a cleaner and greener Process as a selling point."
Is it possible there is a way to add value to mining doge with exclusively green energy? like possibly a way to adjust the miner reward if they can prove their gear is powered by GE? This could be an extremely enticing sell point for the future. And also possibly a reward system to keep the mining as decentralized as possible, therefore keeping it in the hands of the people.

[2021-05-14 11:14] freelancing-solutions commented on #209
There is no way to reliably detect the nature of electricity to determine if its green electricity or not, on the level of software.

With hardware it will still be unreliable but it can be done however will need extra hardware on top of the usual hardware the miner has.

This however would be etremely difficult as it would require you to convince several manufactures of say solar panels, wind tur

[2021-05-14 11:16] freelancing-solutions commented on #209
the other thing is just understand that its cheaper to mine with green energy and then also assume that miners are not dumb.
this two assumptions can get you far. which makes you wonder what all the fuss is about..

[2021-05-14 14:14] Manjuphoenix opened #212 "Not able to pull docker image dogecoin.com:latest"
### Describe the issue
Not able to pull docker image even after performing docker login

### Expected behaviour
Once the command is executed i.e, docker run -d --rm -p 0.0.0.0:5000:5000 --mount type=bind,source="$(pwd)",target=/code dogecoin.com:latest
This should pull the docker image dogecoin.com to our local image repo using which we can deploy containers to work on and modify

### Actual behav

[2021-05-14 14:15] #212 closed

[2021-05-14 16:02] andikaleonardo opened #213 "Dogecoin - Twitter Integration"
### Feature Description
Doge is known for jokes at twitter.
It would be so much fun for website visitors to see some of the twitter news on this website.

Can I work on adding twitter integration to this website?

[2021-05-14 16:23] NeilShah2026 commented on #213
Not sure if we can do that, as there my be copyright issues.

[2021-05-14 16:36] xbeatzsec commented on #213
I think it is a good idea but like @NeilShah2026 said, maybe that can be a copyright issues.

[2021-05-14 16:45] NeilShah2026 commented on #213
If you want, I can send an email to Twitter to see how they handle that.

[2021-05-14 17:00] NeilShah2026 opened #214 "Discord Server"
#### Add A Dogecoin Website Discord Server
---

I was thinking if we added a discord server specifically for working on the Dogecoin Website it could make communication
when working on the website better, and help organize the issues & pull requests, let me know what you think.

[2021-05-14 17:32] xbeatzsec commented on #213
That will be good, I think.

[2021-05-14 17:34] NeilShah2026 commented on #213
Ok, will do

[2021-05-14 22:23] xbeatzsec commented on #214
yeah let's create a discord server for it :D

[2021-05-14 22:48] NeilShah2026 commented on #214
https://discord.gg/Ez4m6tDb

[2021-05-15 03:47] ajaygalagali opened #218 "Improvement of user experience in Support page and guide page"
Rather than having button named "Back to Main Page" to go back to Main page, click on Logo should go back to Main page.

I would like to work on this.

[2021-05-15 03:59] aarsxx commented on #213
thankyou!

[2021-05-15 08:30] xbeatzsec commented on #218
Yeah I think that's a great idea, and makes the design looks more cleaner.

[2021-05-15 11:07] ajaygalagali opened #219 "Create Kannada Translation"
### Feature Description
Create Kannada translation

### Use Case(s)
A wider audience will be reached

[2021-05-15 20:00] valentcheung opened #223 "Create Hong Kong Chinese support"
Feature Description

Create Hong Kong Chinese translation

Use Case(s)

A wider audience will be reached

[2021-05-15 22:24] frantisekkovac opened #225 "Create a Czech Translation"
### Feature Description
Czech translation of the web

### Use Case(s)
Such an amazing project as Dogecoin is should not miss the Czech language in its portfolio. Although only 11 million people speak it.

### Alternatives
No way ;)

### Additional Context
I'm starting translating the assets .json file tommorow.

[2021-05-16 08:00] Harshal0902 opened #226 "[Feature request] Dark Mode for the website"
Adding a dark mode to the site, so that the website looks more interactive.

[2021-05-16 08:58] #123 closed

[2021-05-16 13:29] ubuntume opened #228 "Update the installation instructions for Multidoge Wallet to current version."
I think it would be a good idea to make wallet installation a little easier and more accurate. Currently, the "copy-paste" installation instructions for the Multi doge are not up to date for the Linux version.

[2021-05-16 15:11] wall03 opened #229 "Title on Support and guide pages missing space"
![image](https://user-images.githubusercontent.com/65470133/118402335-7954f700-b637-11eb-9dcb-d096b033701f.png)
![image](https://user-images.githubusercontent.com/65470133/118402341-7fe36e80-b637-11eb-8acb-f31e2a757895.png)

there is a missing space on each title

[2021-05-16 20:20] BigBlockDaddy opened #231 "Hacker issue"
PLEASE  note 50k coins have been stolen from my encrypted wallet. I would  like to know how this is possible. I will explain my loss in detail so  there is NO confusion.
In 2014, I  acquired dogecoin for around 2 months through various transactions on  ebay and other means. Up until last week, that laptop sat on a shelf  with a dead battery and no internet connection whatsoever.
At  the beginning

[2021-05-16 20:38] frantisekkovac commented on #225
So, I'm almost done.
Tomorrow I will look at it with fresh eyes ... and we will go to the finals.

![image](https://user-images.githubusercontent.com/84251468/118411924-6d008680-b697-11eb-9198-bcf940979e90.png)

[2021-05-17 11:39] NeilShah2026 commented on #226
That is not a bad idea, I can take a look at it

[2021-05-17 16:22] NeilShah2026 commented on #231
Hey, this is the GitHub Repo for the Dogecoin.com, not dogechain, as we have no affiliation with them. Have you tried sending them a message?

[2021-05-17 17:18] langerhans commented on #231
To make sure the coins actually left the wallet run Dogecoin core with the -rescan command line option once. But please post such question on e.g. /r/dogeducation as this is the issue tracker for the dogecoin.com website and this this topic is completely off-topic.

[2021-05-17 17:18] #231 closed

[2021-05-17 17:26] langerhans commented on #209
Yeah agree with the above points. It's a a good idea to encourage that, but there isn't a practical technical way to implement this. Also this is a bit unrelated to the website so I'll close this issue to keep the issue tracker focused.

[2021-05-17 17:26] #209 closed

[2021-05-17 17:27] langerhans commented on #213
I'd be okay to add the feed for @dogecoin but not a general #dogecoin or something given we'd have no control over the content that shows up on the website that way. Bad actors could just flood the hashtag and display whatever on the website.

[2021-05-17 18:09] langerhans commented on #229
Solved by #215 , thanks!

[2021-05-17 18:09] #229 closed

[2021-05-17 18:11] langerhans commented on #218
Fixed with #215 , also see my comment on #221

[2021-05-17 18:11] #218 closed

[2021-05-17 18:27] langerhans commented on #219
Solved as per #211

[2021-05-17 18:27] #219 closed

[2021-05-17 22:17] frantisekkovac commented on #225
Well, I'm done. The final code version is published here in my Git = https://github.com/frantisekkovac/dogecoin.com/blob/eb8bec906edf3cac1897f0f5ac1a513e883101c2/cz.json

Language label to be displayed on the web = "Česky".

[2021-05-17 23:01] wall03 opened #235 "Footer Not Consistent Across Pages"
The footer is different across different pages.

Main page:
![image](https://user-images.githubusercontent.com/65470133/118566636-45b2c380-b742-11eb-91ee-ebc57aac6ed1.png)

Support page:
![image](https://user-images.githubusercontent.com/65470133/118566685-57946680-b742-11eb-844a-b4be4bddd925.png)

[2021-05-18 03:49] ajaygalagali opened #237 "Navigation button to support page missing in Navigation bar of Homepage"
### Describe the issue
Support button is missing in homepage(index.html) navigation bar

### Expected behaviour
Navigation button to support page on Navigation Bar

### Actual behaviour
Navigation button to support page missing

### Screenshots.
![image](https://user-images.githubusercontent.com/52245467/118587286-f7d9a200-b7b9-11eb-81f3-d910148f9e12.png)

### Environment
- OS: Windows
- Browser:

[2021-05-18 03:52] nickatnight commented on #237
I believe there is a PR already open for this #169

[2021-05-18 06:23] carlosjunod commented on #131
what you mean with "resize images / new Mockups" can you elaborate?

[2021-05-18 10:21] AkhileshThite opened #239 "Real time DOGE price stats page"
We can make a new html page showing real time prices of the dogecoin. That would be great for users to track the live dogecoin prices on this official dogecoin website.
If you know or want to suggest any official API for this then it would be great.
I would like to work on this one, I'll do the job with proper indentation and responsibility.

Thank you!

[2021-05-18 10:33] nunocasco commented on #208
need help?

[2021-05-18 22:59] pjhwa opened #240 "Create a Korean Translation"
### Feature Description
Korean translation of the web pages.

### Additional Context
Screenshot is here.
<img width="623" alt="dogecoin com" src="https://user-images.githubusercontent.com/2810001/118733838-12725080-b878-11eb-949e-48d2f80f81f7.png">

[2021-05-19 04:55] adityagi02 opened #242 "CREATE A BANGLA TRANSLATION"
### Feature Description
### _Bengali_ or _Bangla_ is an Indo-Aryan language of the eastern Indian subcontinent including Bangladesh by _approx. 250 million native speakers_.

### Use Case(s)
This change is required to reach the wider user base.

[2021-05-20 02:43] aarsxx commented on #239
how about use tradingview.com to display the chart ?

[2021-05-21 01:53] 516310460 opened #244 "Official request for Chinese Translation（中文翻译官方请求）"
If necessary, I can help with this task
Doge fans from China

[2021-05-21 13:46] frantisekkovac commented on #225
Czech language option "Česky" added to below specified files:

scripts.js = https://github.com/frantisekkovac/dogecoin.com/blob/09457c2d553d98b7b7f654f8155dbad3a7edf0d2/cz.json
index.html = https://github.com/frantisekkovac/dogecoin.com/blob/09457c2d553d98b7b7f654f8155dbad3a7edf0d2/index.html
guide.html = https://github.com/frantisekkovac/dogecoin.com/blob/09457c2d553d98b7b7f654f8155dbad3a7edf0d2/

[2021-05-21 17:11] NeilShah2026 commented on #213
<a class="twitter-timeline" href="https://twitter.com/dogecoin?ref_src=twsrc%5Etfw">Tweets by dogecoin</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

[2021-05-21 17:11] NeilShah2026 commented on #213
that is an embed

[2021-05-21 17:11] NeilShah2026 commented on #213
`<a class="twitter-timeline" href="https://twitter.com/dogecoin?ref_src=twsrc%5Etfw">Tweets by dogecoin</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>`

[2021-05-22 03:07] aarsxx commented on #213
i see. so there is no copyright issue? alright then. WIP

[2021-05-22 15:24] xbeatzsec commented on #208
Yeah we can do it together!

[2021-05-24 20:21] JosueAguilarZacarias opened #249 "Spanish Doge Translation"
I'd love to make Doge more accessible to the Spanish community!
If necessary, I can translate some articles or information

[2021-05-24 20:21] rexhinokovaci opened #250 "Albanian Translation"
If necessary, I can assist by myself with this task if it is needed

Doge fans from Albania

[2021-05-24 20:31] cluzier commented on #239
Is someone currently working on this? If not I will gladly take this on, just let me know.

[2021-05-24 20:33] Aivolt1 commented on #239
I'm happy to help with this project

[2021-05-24 20:33] cluzier commented on #237
Is this issue fixed?

[2021-05-24 20:34] cluzier commented on #214
you did not set the link to never expire. link is not working anymore.

[2021-05-24 20:53] NeilShah2026 commented on #214
oh, my bad,
new link: https://discord.gg/UjXWbFKn6t

[2021-05-24 21:31] Samuelau133 opened #255 "More language support"
Suggest to add below language, if not done so already:

Arabic
French
German
Hindi
Japanese
Javanese
Lahnda
Malay
Russian
Spanish
Tamil
Turkish
Vietnamese

If help to translate some language, e.g. Vietnamese, would there be any "little reward" or just a "volunteer" basis?

Many thanks.

[2021-05-24 21:47] Samuelau133 commented on #255
can also offer accounting (yes, accounting, Profit & Loss, Balance Sheet etc, lol), coding help as well! ;D

[2021-05-24 22:57] Aivolt1 commented on #239
Can any one help me build a html site that identifies the source of any tx block or wallet address?? Using doge chain?

[2021-05-25 00:33] MrBothaJustin commented on #255
I am willing to do the Vietnamese Translation.

[2021-05-25 00:57] rich1n commented on #255
add Portuguese to the list; cheers!

[2021-05-25 02:31] ajaygalagali commented on #237
@cluzier not yet. This issue isn't fixed

[2021-05-25 05:03] okkhalid opened #258 "Arabic Language"
### Feature Description
A written overview of

Hello, I would like to participate and translate the site to Arabic Language, please let me know if you are interested. :)
### Use Case(s)
Any relevant use-cases that you see.

### Alternatives
A clear and concise description of any alternative solutions or features you've considered.

### Additional Context
Add any other context or screenshots about

[2021-05-25 06:19] vltansky opened #259 "Proposal: rewrite in `NextJS` + `TailwindCSS`"
Hey, would you support a rewrite of the website in `NextJS` + `TailwindCSS`?
I believe it will easily get to 100 scores lighthouse vs 71 right now.
![image](https://user-images.githubusercontent.com/5851280/119447904-40083f80-bd39-11eb-8edc-53d605b748cc.png)

If you will approve the idea I'll work on PR in the nearest days, it should be pretty easy and fast.

P.S just for example a few months ago

[2021-05-25 12:00] OpenlakeNFT commented on #244
check out https://github.com/dogecoin/dogecoin.com/pull/260/files

[2021-05-25 13:28] PasserDreamer commented on #239
No, the Core Values of the dogecoin is "1 dogecoin = 1 dogecoin".
Take these things away; do not make doge Father's house a house of trade.

[2021-05-25 13:29] nunocasco commented on #208
kardec#5691
add me at Discord. I'm a total newbie. But i guess i can translate, and you keep tracking if I don't accidentally delete or change something... (at least at discord we can speak pt so we can do this fast and well).
abraço

[2021-05-25 13:43] cluzier commented on #259
Yes, I agree that a rewrite would definitely improve web score and performance.

[2021-05-25 14:24] Siddhant-K-code commented on #255
I am willing to do the Hindi Translation for All our Hindi Readers :)

[2021-05-25 14:25] choutkamartin commented on #259
In my honest opinion, I get a better performance rating (97 - 98) in Lighthouse, and the issues are fixable in under 10 minutes, so I wouldn't be so sure if it's even worth it to use Next.js for a single page like this, HTML with a bit of JS is sufficient.

[2021-05-25 18:12] rexhinokovaci commented on #255
Currently working on Albanian language, in a week or so I'm done with it.

[2021-05-25 20:05] Aivolt1 commented on #239
I just want help building a site that will allow user to identify any block chain transactions on one platform ...? If users are happy with the service they can tip in any crypto however, the main goal is to put all the funds accumulated from the terminal will only be used to support DOGE community.

[2021-05-25 23:32] metajoin opened #264 "Translation into the Persian Language"
I'd like to make Doge more accessible to the Persian community!
If there's an opportunity, I'm able to translate the articles, website or info into the Persian.

[2021-05-26 05:54] vltansky commented on #259
Yeah, but I do see advantages in maintaining a modern stack.
Will be much easier to develop new pages/features.
Easier to contribute - no need in complicated and outdated XAMPP.
Reusability of components, now there are few pages duplicating header, footer, etc. that can be maintained in one place instead.
Right now dogecoin loads jQuery + bootstrap CSS + Bootstrap JS (around 70 kb gzipped) using o

[2021-05-26 16:56] CreedsCode commented on #179
How about a page that embeds like 5 top of the day, posts from the r/dogecoin community page?

[2021-05-26 18:56] nickatnight commented on #259
I think I agree with @vltansky on this. A few months ago, sure a single page with some standard bootstrap was sufficient. But over the last couple weeks with the amount of attention Doge has been receiving, we've added additional pages that duplicate a good portion of the code. The code base will start to get bloated here soon as the amount of contributions / feature requests increase, so maintain

[2021-05-26 20:50] choutkamartin commented on #259
@vltansky @nickatnight There are no disadvantages to use Next.js for single pages - I use it daily and love Next and other frameworks. Well, to some extent haha.

What I meant was if Dogecoin needs a new, bigger website - because there isn't much content right now on the website and I always thought of Doge as a playful cryptocurrency, so the website as right now feels OK to me.

But I do agree wi

[2021-05-27 15:11] rexhinokovaci commented on #259
Yes definitely, it would look neat too.

[2021-05-27 17:54] manafixer commented on #179
this is the solution > How about a page that embeds like 5 top of the day, posts from the r/dogecoin community page?

[2021-05-28 13:53] AkhileshThite opened #267 "Feature: Dark Mode"
I'll create an amazing dark theme, keeping all the original theme touches and perfect indentation.

I just started working on it, check the following screen shot.
![Screenshot 2021-05-28 at 7 20 19 PM](https://user-images.githubusercontent.com/68826419/119994324-20e40900-bfea-11eb-9968-c0297909207b.png)
Any suggestions?

[2021-05-28 14:43] rexhinokovaci commented on #250
Almost done. Working with Albanian Dictionary last file left, Friday, might work on the weeknd or start on monday. Can be done within 1 - 2 hours.

[2021-05-28 16:35] Dogeyyboi commented on #239
I'll help!
It sounds awesome!

[2021-05-28 16:46] akhileshthite commented on #239
Thanks :)

[2021-05-28 16:52] akhileshthite commented on #239
Yes, you can help me.
But the organisation member/owners will decide, once they give us permission to officially work on this, then we'll be good to go.

[2021-05-28 19:18] nickatnight commented on #267
@cluzier has accomplished this in #256 ;)

[2021-05-28 23:05] nickatnight opened #269 "Uneven support content cards on support.html"
### Describe the issue
The height of the divs on the support page are all uneven, which imo looks a little tacky. If you look at Bitcoins [support](https://bitcoin.org/en/support-bitcoin) page, they are all evenly spaced and have the same height. This looks a lot cleaner, and is the de facto standard when displaying css cards.

### Can you reliably reproduce the issue?
#### If so, please list the

[2021-05-29 05:16] akhileshthite commented on #267
Okay sir.

[2021-05-29 07:49] ryihan opened #270 "why use this repository."
please explain it.

[2021-05-31 11:46] #270 closed

[2021-06-01 02:41] nickatnight commented on #213
Have we considered top r/dogecoin posts integration? I've created a simple api for this if anyone want's to play around with it. Will be releasing to a production environment shortly

http://staging.doge-meme.lol/api/v1/memes

[2021-06-01 02:44] nickatnight commented on #213
Have we considered top r/dogecoin meme posts integration? I've created a simple api for this if anyone want's to play around with it. Will be releasing to a production environment shortly

http://staging.doge-meme.lol/api/v1/memes

[2021-06-01 04:28] wzhang878 opened #272 "Add a link to the Accepting Doge merchants directory: shopdoge.xyz"
### Feature Description
Add a link on dogecoin.com to the [directory of merchants](https://shopdoge.xyz/dogecoin-business-directory/) who accept doge as payment

[2021-06-01 11:24] nickatnight opened #273 "Enhancement: top meme posts feed from r/dogecoin"
### Feature Description
I've made a simple [api](https://api.doge-meme.lol/v1/memes/) where you can fetch the top memes from r/dogecoin. The script runs hourly, and the api is served over https. You can view the docs [here](https://api.doge-meme.lol/docs)

### Use Case(s)
New feed to display top Dogecoin

### Alternatives
Potentially scrape sub with beautifulsoup4 or similar library.

### Addition

[2021-06-01 12:30] Dogeyyboi commented on #239
Ok so I have the link to tradingview.com right here

[https://www.tradingview.com/chart/Y4B4Puj1/](url)

[2021-06-01 16:37] Dogeyyboi commented on #273
Good idea!

[2021-06-09 15:56] nickatnight commented on #179
See #273

[2021-06-15 14:46] vj-codes opened #279 "add instructions on how to mine dogecoins on the website"
### Feature Description
The website currently does not display any instructions about mining dogecoins on laptop/pc.
There are some instructions on the internet but they are not authorized and verified at all which might be misleading also many other cryptocurrencies have them on their offical websites.
Adding instructions for mining will be beneficial for all!

[2021-06-15 14:55] vj-codes commented on #279
@rnicoll @langerhans what do you think about this?

[2021-06-22 21:48] pouriya73 commented on #255
I am working for Persian language .
We can Use this code for translate with GoogleEngine
<script type="text/javascript">
function googleTranslateElementInit() {new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/elemen

[2021-06-22 21:50] pouriya73 commented on #239
One point must be considered
site tradingview
RAM uses a lot of system and it is better to use the following site coinmarketcap widget

[2021-06-22 21:51] pouriya73 commented on #239
Or API BINANCE . that written by PHP Language .

[2021-06-24 17:58] naderahmad opened #281 "Website redesign"
### Feature Description
Hello friends. I'm just starting in the Frontend world. I proposed as a personal project to make a redesign of the Dogecoin website. Keeping a responsive design, using BEM methodology, HTML, SASS and JS Vanilla. I have never collaborated in an open source project so I don't know how I would publish the web so everyone can see it.

Attached screenshot:

https://ibb.co/0YDMGD

[2021-07-01 18:08] cojohen commented on #269
I've corrected the issue using css in a manner that will scale on any screen size. If this appears acceptable i will submit a pull request

![doge-support-fix](https://user-images.githubusercontent.com/86421012/124170643-4e9af280-da6d-11eb-8339-8415d52cb273.png)

[2021-07-01 18:48] cojohen commented on #269
@nickatnight I have written code to correct the issue. Here is a screen shot. I am learning how to use git. Figuring out the correct way to submit changes.
![doge-support-fix](https://user-images.githubusercontent.com/86421012/124175272-08e12880-da73-11eb-9e24-5e9dcadc98e1.png)

[2021-07-02 14:08] cojohen opened #287 "Support page language drop-down menu not displaying properly"
### Describe the issue
Each page displays a drop down menu in the footer for Language selection. The Support page (support.html) does not show the drop-down menu like the other pages. Instead it shows a list.

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. go to https://dogecoin.com/support.html and view the issue in the Language list at the bott

[2021-07-02 14:09] cojohen commented on #287
I would like to work on this issue.

[2021-07-14 00:15] JPeterson2015 opened #289 "List exchanges dogecoin can be purchased on website"
### Feature Description
Would like to add a section to the homepage or somewhere that lists all the different exchanges where dogecoin can be purchased.
From what I see, you cannot purchase dogecoin from the wallet listed on the website and I think it's extremely important this is explained better.
Also if utilizing the wallet helps the network or doge in any other way then I think that should be

[2021-07-14 00:25] JPeterson2015 commented on #287
Is anyone reviewing these and pushing them live?

[2021-07-14 05:09] MiguellD commented on #289
I tried to bring this through Twitter but it's very difficult to be heard.
I think to that this is necessary, to make it easy for everyone.
What do you think about a blog on the homepage for discussion, motivation, ideas for our future currencie, help and maybe even a section to vote for bigger changes to make it a democratic system?
And the layout maybe also need a upgrade do make de homepage as

[2021-07-19 17:34] nickatnight commented on #281
I really like this. I recommend deploying this somewhere eg GitHub pages etc, so the maintainers have something to play around with

[2021-07-26 20:59] cojohen commented on #287
Doesn't appear so.  I've submitted two bug fixes to this repo and nothing

[2021-08-06 01:59] #208 closed

[2021-08-30 23:37] intarpit opened #292 "Add 2 new tab for recording and displaying Dogecoin merchant."
### Feature Description
Hi, All Dogecoin lovers,
I have a request for a new feature.
I would like to suggest that we add 2 new tabs on Dogecoin.com:
1. Will be a form, where all the Merchants, who are accepting Dogecoin in their store can enter their info, change it or manage it.
2. A tab where we will share the info of all the merchants accepting Dogecoin.

By doing this we will be supporting all

[2021-11-01 22:17] Ahsogbon commented on #292
Find something new exployet

[2021-11-01 22:18] Ahsogbon opened #305 "Exploit bug report"
### Describe the issue
Tell us about the issue

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Screenshots.
If the issue is related to the website, screenshots can be added to this issue via drag & drop.

### Environment
- OS:
- Browse

[2021-11-01 22:19] Ahsogbon commented on #305
Exploit

[2021-11-01 22:20] Ahsogbon opened #306 "Creglist"
### Feature Description
A written overview of the feature.

### Use Case(s)
Any relevant use-cases that you see.

### Alternatives
A clear and concise description of any alternative solutions or features you've considered.

### Additional Context
Add any other context or screenshots about the feature request here.

[2021-11-01 22:21] Ahsogbon commented on #289
Exploit all

[2021-11-01 22:32] Ahsogbon commented on #292
I'm a leaner

[2021-11-01 22:35] Ahsogbon opened #307 "Exploit"
### Feature Description
A written overview of the feature.

### Use Case(s)
Any relevant use-cases that you see.

### Alternatives
A clear and concise description of any alternative solutions or features you've considered.

### Additional Context
Add any other context or screenshots about the feature request here.

[2021-11-01 22:35] Ahsogbon commented on #307
Exploit is my project

[2021-11-01 23:16] #305 closed

[2021-11-01 23:16] #307 closed

[2021-11-01 23:16] #306 closed

[2021-11-03 20:10] AbhayJha24 commented on #237
Hey doge community, I have fixed this bug.

[2021-11-04 00:12] Ahsogbon opened #309 "Bug new"
### Describe the issue
Tell us about the issue

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Screenshots.
If the issue is related to the website, screenshots can be added to this issue via drag & drop.

### Environment
- OS:
- Browse

[2021-11-04 00:12] Ahsogbon commented on #309
Focussed

[2021-11-04 03:17] JoeJHoward opened #310 "Such Redesign. Very Enhance."
### Feature Description
Hey guys, as far as I can tell the site has pretty much remained the same since the [2014 Redesign PR](https://github.com/dogecoin/dogecoin.com/pull/6).

I know the kind of Dogecoin ethos is satirically poking fun at the Crypto market as a whole and keeping the website "simple" definitely helps reiterate that. But is there not room some for a bit of a redesign/overhaul? I f

[2021-12-25 15:49] abdoulayld commented on #239
@AkhileshThite    how can you  pay  the API fees?

[2022-01-16 15:42] DeerSpotter commented on #279
Just connect this link: https://github.com/dogecoin/dogecoin/blob/master/doc/getting-started.md

[2022-01-30 21:41] Staartvos opened #317 "Dutch Language added"
### Feature Description
I want to translate the website to dutch, but with my lack of skill of GitHub I can't create a NL.js

### Use Case(s)
There set plenty of dutch speakers

### Alternatives
A clear and concise description of any alternative solutions or features you've considered.

### Additional Context
Add any other context or screenshots about the feature request here.

[2022-04-14 22:41] edswf1 opened #320 "Is it still worth contributing?"
As no one seems to answer me on r/dogecoindev, is it still worth to make a pull request or anything? Would love to get involved again but i've seen/heard a lot of stuff about a complete redesign of dogecoin.com happening soon. Is that true and if yes, will this GIT still be alive after that? Please answer me...

[2022-06-11 18:26] DanielBoye commented on #255
Going to make a Norwegian one

[2022-06-12 15:44] DanielBoye opened #322 "Norwegian Translation"
### Feature Description
Adding Norwegian to the website

### Use Case(s)
So Norwegian people can understand the dogecoin.com website and learn about dogecoin.

### Alternatives
Just to add a no.json and edit all the .HTML to support Norwegian.

[2022-06-29 06:07] nickatnight commented on #320
Any update on this?

[2022-07-26 22:42] git5am opened #325 "site is a 404. lol."
### Describe the issue
dogecoin.com is a 404

### Can you reliably reproduce the issue?
#### If so, please list the steps to reproduce below:
1. go to https://dogecoin.com
2.
3.

### Expected behaviour
site should load

### Actual behaviour
site is a github pages 404

### Screenshots.
![Screen Capture 2022-07-27 at 1 41 55](https://user-images.githubusercontent.com/90157403/181124627-1542705d-3a12

[2022-07-26 22:44] #325 closed

[2022-07-26 22:44] git5am commented on #325
lmao it works now idk it was down for like 5-7 mins lol

[2022-08-29 00:21] michilumin opened #326 "Increase per-screen limit of wallets displayed from 10 to 12 or 14."
Currently displaying 10 wallet listings on desktop (unless on a very, very small screen) actually leaves a lot of whitespace on the end of the page, not reaching to teh end of the 'features' block...

What this ends up with right now is 10 displayed on main with only 1 sitting off on page 2.

It doesn't seem like it'd make a huge detriment to go to 12 or 14 on mobile, and would align closer to the

[2022-10-20 05:43] nutildah commented on #326
I came here to make the same suggestion, perhaps expanding the list to 14 per page. With 10 wallets it looks a bit strange to have a Page 2 when there is a lot of space before the wallet list aligns with the bottom of the left column. And there is even more space before the footer is reached.

Thanks for your consideration.

![image](https://user-images.githubusercontent.com/7720163/196865020-e249